.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content: space-between;
  margin: 38px 0 30px;
  padding: 0 10px;

  &::after {
    content: "";
    flex: auto;
  }
}

.emptyState {
  font-size: 24px;
  margin: 40px 0;
}
