.container {
  padding-top: 20px;

  .header {
    font-size: 23px;
    margin-bottom: 20px;

    .name {
      color: #313131;
      font-family: "flexo-demiuploaded_file", sans-serif;
    }

    .number {
      color: #919191;
      font-family: "flexo-bolduploaded_file", serif;
    }
  }

  .columns {
    display: flex;
    grid-gap: 20px;
    padding: 0 10px;
  }

  .leftColumn {
    width: 50%;

    .image {
      align-items: center;
      background: #d9d9d9;
      border-radius: 8px;
      display: flex;
      justify-content: center;

      img {
        height: auto;
        transition: transform 0.3s;
        width: 100%;
      }
    }
  }

  .sectionTitle {
    font-size: 20px;
    text-align: left;
  }

  .sectionValue {
    font-family: "flexo-bolduploaded_file", serif;
    font-size: 18px;
    text-align: left;
  }

  .rightColumn {
    width: 50%;

    .section {
      margin-bottom: 22px;
    }

    .types {
      display: flex;
      grid-gap: 4px;
      margin-top: 3px;
    }

    .ability {
      font-family: "flexo-bolduploaded_file", serif;
      font-size: 18px;
      text-align: left;

      span {
        color: #919191;
      }
    }
  }

  .statsChart {
    padding: 20px;
  }
}
