body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

html,
body {
  background-color: #333333;
  background-image: url(./assets/images/container-bg.png);
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "flexo-bolduploaded_file";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/flexo-bold-webfont.woff2") format("woff2"),
    url("./assets/fonts/flexo-bold-webfont.woff") format("woff");
}

@font-face {
  font-family: "pokemon_solidnormal";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/pokemon_solid-webfont.woff2") format("woff2"),
    url("./assets/fonts/pokemon_solid-webfont.woff") format("woff");
}

@font-face {
  font-family: "flexo-demiuploaded_file";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/flexo-demi-webfont.woff2") format("woff2"),
    url("./assets/fonts/flexo-demi-webfont.woff") format("woff");
}

@font-face {
  font-family: "flexo-thinuploaded_file";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/flexo-thin-webfont.woff2") format("woff2"),
    url("./assets/fonts/flexo-thin-webfont.woff") format("woff");
}

@font-face {
  font-family: "flexo-regularuploaded_file";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/flexo-regular-webfont.woff2") format("woff2"),
    url("./assets/fonts/flexo-regular-webfont.woff") format("woff");
}
